* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    min-width: 1170px;
}

.container {
    width: 100%;
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
}

/* Header
 _________________*/

.header {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
}

.logo h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 50px;
}

.navbar {
    display: flex;
}

nav {
    display: flex;
    width: 100%;
}

.nav_item {
    display: flex;
    padding: 10px 15px;
}

.nav_item a {
    text-decoration: none;
    color: #363636;
    font-size: 20px;
}

.arrow-8 {
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-top: 3px;
}

.arrow-8:before,
.arrow-8:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 4px solid #337AB7;
    border-bottom: 4px solid #337AB7;
    animation: arrow-8 3s linear infinite;
}

.arrow-8:after {
    animation: arrow-8 3s linear infinite -1.5s;
}

@keyframes arrow-8 {
    0% {
        opacity: 0;
        transform: translate(0, -10px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, 10px) rotate(-45deg);
    }
}

.cart {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.cart span {
    font-size: 20px;
    color: #363636;
    margin-left: 10px;
}


/* section ball
 ________________________*/

.product_block {
    display: flex;
}

.product_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 60px;
}

.product_img img {
    width: 100%;
}

.product_details {
    width: 50%;
    padding: 60px 20px;
}

.product_title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.product_status {
    color: #3c763d;
    margin-bottom: 30px;
}

.product_price {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #929292;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.product_description {
    line-height: 1.6;
    color: #101010;
    margin-bottom: 30px;
    text-align: justify;
}

.product_buttons {
    display: flex;
    margin-bottom: 30px;
}

.ball_weight span {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #929292;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.ball_weight span:hover {
    transition: background-color 0.3s ease;
    background-color: #363636;
}

.ball_weight span img {
    width: 20px;
    margin-left: 10px;
}

.ball_weight ul {
    display: block;
    list-style: none;
}

.ball_weight ul li {
    text-align: center;
    width: 100%;
    background-color: #929292;
    color: white;
    padding: 7px 0;
    cursor: pointer;
}

.ball_weight ul li:hover {
    transition: background-color 0.3s ease;
    background-color: #363636;
}

.product_add_to_cart {
    margin-left: 50px;
}

.product_add_to_cart a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #363636;
    padding: 10px 20px;
}

.product_add_to_cart a:hover {
    transition: background-color 0.3s ease;
    background-color: #929292;
}

.more_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #929292;
    padding-bottom: 10px;
    cursor: pointer;
}

.more_details:hover {
    transition: color 0.3s ease;
    color: #929292;
}

/* footer
_________________________*/
footer {
    border-top: 1px solid #929292;
    margin-top: 40px;
}

.footer {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.footer_section {
    display: flex;
    flex-direction: column;
}

.footer_section h4 {
    margin-bottom: 15px;
    font-size: 20px;
}

.footer_nav {
    display: flex;
}

.footer_nav a {
    display: block;
    text-decoration: none;
    color: #363636;
    padding-right: 20px;
}

.footer_nav a:last-child {
    padding-right: 0;
}

.footer_nav a:hover {
    transition: color 0.3s ease;
    color: #cccccc;
}

.footer_logo {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.footer_logo h4 {
    font-size: 25px;
}

